@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Prompt:ital,wght@1,500&display=swap');


@layer base {
  :root {
    --text: #051014;
    --background: #a8bfbb;
    --primary: #DBE6E6;
    --secondary: #a992c8;
    --accent: #93d3ca;
  }
  .dark {
    --text: #ebf6fa;
    --background: #415854;
    --primary: #192424;
    --secondary: #4e376d;
    --accent: #2c6d64;
  }
}
